@font-face {
    font-family: "JetBrainsLight";
    src: url("../fonts/JetBrainsLight.ttf");
}
@font-face {
    font-family: "JetBrainsLight";
    src: url("../fonts/JetBrainsMono.ttf");
}




.BG{
    background-image: url("../img/Background.png");
    background-size: contain ;
}


.ProText{
    font-size: 18px;
    color: #BFBFDE;
    font-family: 'JetBrains';
}

.All{    
    min-height: 97vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.Fondo{    
    border-radius: 1.5em;
    background-color: #BFBFDE;
    display: flex;
    min-height: 60vh;
}

.Main{
    border-radius: 1.32em;
    background-color: #232130;
    height: 60vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainContent{
    width: 55vw;
    height: 30vh;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.ProImg{
    min-width: 10vw;
    min-height: 20vh;
    max-width: 10vw;
    max-height: 20vh;
    border-radius: 100%;
    box-shadow: #000000 0px 0px 0.7em 0.01em;
    background-size: contain;
}


.SW{
    width: 1.5em;
    margin: 4.9em 1.1em 0em 1em;
    
}

.SocialNetworks{
    min-height: 14em;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}



.CV{
    background-color: #232130;
    color: #BFBFDE;
    font-size: .9rem;
    padding: .3rem 1.8rem;
    margin: 0em 1.1em 0em 1em;
    border:2px solid #BFBFDE;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .15s ease;
}
.CV:hover{
    background-color: #BFBFDE;
    color: #232130;
}

.CV:active{
    box-shadow: inset .1rem .1rem 1rem #bfbfde69, inset -.1rem -.1rem 1rem #232130dd; 
}

.Hello{
    font-family: 'JetBrainsLight';
}


.AboutText{
    padding: 3% 7% 0% 7%;
    align-items: center;
    justify-content: center;
}





.listSkils {
    display: flex;
    justify-content: center;
}

.listSkils1 {
    padding: 0% 5% 0% 5%;
}

.listSkils2 {
    padding: 0% 5% 0% 5%;
}


h3{
    color: #232130;
    font-style: bold;
}

ul{
    list-style-type: disc;
}

li{
    /* margin-bottom: px; */
    font-size: 16.5px;
}
