@font-face {
    font-family: "JetBrainsLight";
    src: url("../fonts/JetBrainsLight.ttf");
}

@font-face {
    font-family: "JetBrains";
    src: url("../fonts/JetBrainsMono.ttf");
}

.Selector{
    width: 100%;
    padding: 0rem 1rem  0rem 3.5rem;
}

.Content{
    height: 47vh;
    /* min-width: 20vw; */
    max-width: 190vw;
    font-size: 1.1em;
    color: #232130;
    font-family: 'JetBrains';
    margin: 2em 3em 0em 2em;
    text-align: justify;
}


hr{
    display: flex;
    border-top: 1px solid #232130;
    border-bottom: 1px solid #232130;
    border-right: 1px solid #232130;
    border-left: 1px solid #232130;
    border-radius: 10px;
    border-width: .10em;
    width: 35em;
}

.Titles{
    background-color: #BFBFDE;
    line-height: 1.5em;
    text-align: center;
    text-transform: capitalize;
    font-family: 'JetBrains';
    color: #232130;
    width: 80%;
    font-size: 1.3rem;
    padding: .3rem 1rem;
    border:hidden;
    border-radius: .3rem;
    cursor: pointer;
    transition: all 0.1s ease;
}

.Titles:hover{
    background-color: #232130;
    color: #BFBFDE;
}

.Titles:active{
    box-shadow: inset .05rem .05rem 1rem #bfbfde80, inset -.05rem -.05rem 1rem #232130; 
}
#Content.oculto{
    transition: all .25s ease;
    opacity: 0;
    
}
#Content.show{
    transition: all .3s ease;
    opacity: 1;
}



.container{
    position: relative;
    width: 100%;
    height: 90%;
}




.slider input{
    visibility: hidden;
    display: none;
}

.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 45px;
    left: 10px;
    gap: 10px;
}


.buttons label{
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background-color: #e0e0ff;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
}


.buttons label:hover{
    scale: 1.15;
    opacity: 1;
}


.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3){
    opacity: 1;
    scroll-margin: 10px;
    width: 23px;
}





.content{
    border-radius: 1.3%;
    margin: -2% 0% 0% 15%;
    position: relative;
    width: 31.5vw;
    height: 38vh;
    justify-content: center;
    align-items: center;
    transition: 400ms ease-in-out;
    box-shadow: #232130 0px 0px 0.25em 0.01em;
}

.con_title1, .con_title2, .con_title3{
    margin: 2.5% 0% 0% 0%;
    visibility: hidden;
    display: none;
}

.slider input:nth-child(1):checked ~ .content{
    background: url("../img/WPP_CODE/PPI_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

.slider input:nth-child(2):checked ~ .content{
    background: url("../img/WPP_CODE/PPI_0.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.slider input:nth-child(3):checked ~ .content{
    background: url("../img/WPP_CODE/PPI_3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.slider input:nth-child(1):checked ~ .con_title1{
    visibility: visible;
    display: flex;
    justify-content: center;
}
.slider input:nth-child(2):checked ~ .con_title2{
    visibility: visible;
    display: flex;
    justify-content: center;
}
.slider input:nth-child(3):checked ~ .con_title3{
    visibility: visible;
    display: flex;
    justify-content: center;
}


.link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 0;
}

